
.result{
    display: flex;
    min-height: 50vh;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}
.result:hover{
    border: 5px solid black;
}
ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
}
li{
    margin-top: 10px;
}