.result{
    display: flex;
    min-height: 10vh;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
ul{
    width: 50%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}
 h2{
    margin-left: 20px;
 }

